<div class="box">
  <div class="input-group">
    <span class="input-group-addon bg-primary icon icon-history"></span>
    {{new-select
        class="input-sm"
        value=quickTimeIdx
        content=quickTimes
        optionValuePath="idx"
    }}
  </div>
  <div class="mv-20">
    <div class="acc-label pt-0 mt-0">Interval</div>
    {{new-select
        class="input-sm text-capitalize"
        value=intervalId
        content=intervals
        optionValuePath="id"
    }}
    {{#if shortTips}}
      {{#tooltip-element
           type="tooltip-basic"
           model=verboseTips
           tagName="span"
           inlineBlock=true
           tooltipTemplate='tooltip-scale-info'
           aria-describedby="tooltip-base"
           tooltipFor="tooltipLink"
      }}
          <i class="icon text-info icon-help"></i>
        {{/tooltip-element}}
      <span class="pt-0 mt-5 text-small">
        {{shortTips}}
      </span>
    {{/if}}
  </div>
</div>