<!-- <button data-zoom="+1">Zoom In</button>
     <button data-zoom="-1">Zoom Out</button>
     <button id="reset">Reset</button> -->

<section class="mb-10">
  <!-- <div class="input-group">
       {{input class="form-control input-sm" type="search"}}
       <span class="input-group-addon bg-primary icon icon-search"></span>
       </div> -->
  <!-- <hr class="mb-0 pb-0"/> -->
  <div class="text-center mt-0">
    From <span class="text-info">November 13th 2017, 23:11:44.351</span> To  <span class="text-info">November 14th 2017, 17:31:55.212</span> <span class="text-success">34252</span> Hits
  </div>
</section>

<div class="logging-chart"></div>