<div class="box clearfix">
  <div class="row">
    <div class="col span-1">
      <img width="64" height="64" src="{{app.baseAssets}}assets/images/providers/slack-webhook.png" class="mt-5" />
    </div>
    <div class="col span-11 pt-20">
      <label class="text-muted pr-20">
        {{t 'notifiersPage.slack.webhookUrl.label'}}{{field-required}}
      </label>
      {{input
          class="form-control"
          type="text"
          value=slackApiUrl
          placeholder=(t 'notifiersPage.slack.webhookUrl.placeholder')
          safeStyle="width: calc(100% - 270px); display: inline-block; min-width: 300px;"
      }}
    </div>
  </div>
</div>
<div class="box mt-20">
  <h2>Setup a slack notifier</h2>
  <hr>
  <ol>
    <li><a role="button" class="btn pl-0 btn-sm bg-transparent" target="_blank" rel="nofollow noreferer" href="https://rancher.slack.com/apps/A0F7XDUAZ-incoming-webhooks?page=1">Click here</a>to go to the<span class="text-muted mh-10">Incoming WebHooks</span>page. If you haven't logined yet, please login first.</li>
    <li>After logined, click the left<span class="text-muted mh-10">Add Configuration</span>button to enter the<span class="text-muted mh-10">New configuration</span>page.</li>
    <li>At the bottom of the<span class="text-muted mh-10">New configuration</span>page, choose a existing channel from the dropdown input box or click the <span class="text-muted mh-10">create a new channel</span> link to create a new channel.</li>
    <li>With a channel selected, click the<span class="text-muted mh-10">Add Incomming WebHooks Intergration</span>button to generate a Webhook URL. The generated Webhook URL looks like: <code class="mh-10">https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX</code></li>
    <li>Copy the generated Webhook URL, paste it in the above input box and then click the save button.</li>
  </ol>
</div>