<section class="header clearfix">
  <h1 class="pull-left">Logging</h1>
  <div class="pull-right">
    {{#link-to "logging" classNames="btn btn-sm bg-primary"}}Configure{{/link-to}}
  </div>
</section>
