<section class="header clearfix">
  <h1 class="pull-left">Logging</h1>
  <div class="pull-right">
    <span {{action 'gotoConfigure'}} class="btn btn-sm bg-primary">Configure</span>
  </div>
</section>

{{logging-dashboard/logging-container}}
