<div class="box pt-0">
  <p class="text-info text-small">
    Rancher uses Prometheus for monitoring and alerting behind the scenes. PagerDuty provides documentation on Prometheus integration. You can find instructions on how to get your pagerduty integration key
    <a href="https://www.pagerduty.com/docs/guides/prometheus-integration-guide/" target="_blank">here</a>.
  </p>
  <label class="text-muted pr-20">
    {{t 'notifiersPage.pagerDuty.clientUrl.label'}}{{field-required}}
  </label>
  {{input
      class="form-control"
      type="text"
      value=pagerdutyUrl
      placeholder=(t 'notifiersPage.pagerDuty.clientUrl.placeholder')
      safeStyle="width: calc(100% - 270px); display: inline-block; min-width: 300px;"
  }}
</div>