<div class="box">
  <label class="text-muted pr-20">
    {{t 'notifiersPage.pagerDuty.form.clientUrl.label'}}{{field-required}}
  </label>
  {{input
      class="form-control"
      type="text"
      value=pagerdutyUrl
      placeholder=(t 'notifiersPage.pagerDuty.form.clientUrl.placeholder')
      safeStyle="width: calc(100% - 270px); display: inline-block; min-width: 300px;"
  }}
  <p class="text-info text-small">
    Rancher uses Prometheus for monitoring and alerting behind the scenes. You can find instructions on how to get the pagerduty integration key
    <a href="https://www.pagerduty.com/docs/guides/prometheus-integration-guide/" target="_blank">here</a>.
  </p>
</div>