.histogram-chart {
  svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
  }

  rect {
    fill: #fff;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: $accent-border;
  }
  .axis text {
    // stroke: $text-muted;
  }
  .buttons {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
