.logging-tooltip {
  $tooltip-bg: #fff;

  background: $tooltip-bg;
  position: absolute;
  opacity: 0.9;
  text-align: center;
  margin-top: -20px;
  font: 14px;
  pointer-events: none;
  z-index: 9999;

  $arrow-size: 10px;
  $tooltip-border-color: $tooltip-bg;


  &.arrow_box {
	  border: 0px solid $tooltip-border-color;
  }

  &.arrow_box:after, &.arrow_box:before {
	  top: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
  }
  &.arrow_box:after {
	  border-color: rgba(52, 151, 218, 0);
	  border-width: $arrow-size;
	  margin-top: -$arrow-size;
  }
  &.arrow_box:before {
	  border-color: rgba(52, 151, 218, 0);
	  border-width:  $arrow-size + 1;
	  margin-top: -($arrow-size + 1);
  }

  // arrow left tooltip
  &.arrow_box.left:after, &.arrow_box.left:before {
	  right: 100%;
  };
  &.arrow_box.left:after, &.arrow_box.left:before{
	  border-right-color: $tooltip-border-color;
  }

  // arrow right tooltip
  &.arrow_box.right:after, &.arrow_box.right:before {
	  left: 100%;
  };
  &.arrow_box.right:after, &.arrow_box.right:before{
	  border-left-color: $tooltip-border-color;
  }
  .tooltip-from-now {
    padding: 5px 0 0 0;
    background: $light-grey;
    border-bottom: 1px solid $accent-border;
  }
  .tooltip-count {
    padding-top: 10px;
    .value {
      color: $link-color;
    }
  }
  .tooltip-ts {
    font-size: 12px;
    padding-top: 2px;
  }
}
