.notifier-type {
  &.slack {
    background-image: url('images/providers/slack.svg');
    background-size: 60px 60px;
    background-position: center 30%!important;
  }

  &.email {
    background-image: url('images/providers/email.svg');
    background-size: 90px 90px;
    background-position: center 30%!important;
  }

  &.pagerduty {
    background-image: url('images/providers/pagerduty.svg');
    background-size: 140px 80px;
  }
}
