.stats-bars {
  display: flex;
  align-items: center;
  @extend .b-1;
  > div:nth-child(1) {
    background: $accent-bg;
    border-right: 1px solid $accent-border;
    padding: 10px 15px;
    text-align: center;
  }
  > div:nth-child(2) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .bar {
    &:first-child {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
    &:last-child {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      margin: 0;
    }
    padding: 0;
    margin: 0 2px 0 0;
    width: 60px;
    height: 8px;
  }
}
