.logging-target {

  &.elasticsearch {
    background-image: url('images/providers/elasticsearch.svg');
    background-size: 60px 60px;
    background-position: center 30%!important;
  }

  &.splunk {
    background-image: url('images/providers/splunk.svg');
    background-size: 150px 80px;
  }
  &.embedded {
    background-image: url('images/logos/main.svg');
    background-size: 110px 70px;
    background-position: center 30%!important;
  }
  &.kafka {
    background-image: url('images/providers/kafka.svg');
    background-size: 120px 80px;
  }
}
.nav-boxes {
  &.checked-current .current:after {
    content          : $icon-check;
    top              : -15px;
    right            : -15px;
    font-family      : 'rancher-icons';
    font-size        : 18px;
    position         : absolute;
    background-color : $info;
    height           : 29px;
    width            : 29px;
    line-height      : 30px;
    border-radius    : 50%;
    color            : white;
  }
}
