<div class="acc-label">Advanced alert configurations</div>
<div class="row box">
  <div class="col span-5 pt-0 mt-0">
    <label class="acc-label">Initial Wait</label>
    {{alert/form-interval value=model.initialWait}}
    <p class="text-info text-small"> How long to initially wait to send a notification when an alert is triggered </p>
  </div>

  <div class="col span-5 offset-1 pt-0 mt-0">
    <label class="acc-label">Repeat Interval</label>
    {{alert/form-interval value=model.repeatInterval}}
    <p class="text-info text-small">How long to wait before sending a notification again if it has already been sent successfully for an alert</p>
  </div>
</div>