HTML {
  height: 100%;
}

BODY {
  direction: ltr;
  background-color : $body-bg;
  min-height       : 100%;
  // font-weight      : normal;
  position         : relative;

  &.no-spin .icon-spin {
    -webkit-animation : none;
    animation         : none;
  };
}

#application {
  padding-top: 10px;
  padding-bottom: 70px; // So the footer doesn't cover the end of the body
  min-height: 150px; // header + footer + a bit
}

MAIN {
  position: relative;
}

.footer-actions {
  padding-top: 10px;
  text-align     : center;
  position       : relative;
}

.modal-container .footer-actions {
  margin-bottom: 0;
}

.box {
  background: $accent-bg;
  padding: 20px;
  border: solid 1px $accent-border;

  hr {
    border-color: darken($border, 5%);
  }

  > h4 {
    border-bottom: solid 2px darken($border, 5%);
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
  }

  &.bg-secondary {
    @extend .bg-secondary;

    hr {
      opacity: .3;
    }
  }

  .accordion {
    background: $body-bg;
  }

  .text-muted {
    color: $mid-grey;
  }
}

$border-property-map: (
  b:  border,
  bt: border-top,
  br: border-right,
  bl: border-left,
  bb: border-bottom,
);

@each $keyword, $property in $border-property-map {
  .#{$keyword}-0 { #{$property}: none !important; }

  @for $size from 1 through 4 {
    .#{$keyword}-#{$size} { #{$property}: $size * 1px solid $accent-border !important; }
  }
}
