<div class="row">
  <div class="col span-5-of-24 mt-0">
    {{logging-dashboard/logging-sidebar
        intervals=intervals
        intervalIdx=intervalIdx
        quickTimeIdx=quickTimeIdx
        quickTimes=quickTimes
        intervalScaleTips=intervalScaleTips
    }}
  </div>
  <div class="col span-19-of-24 mt-0">
    <section>
      {{logging-dashboard/logging-chart
          logs=logs
          intervalIdx=intervalIdx
          intervals=intervals
          quickTime=quickTime
          intervalScaleTips=intervalScaleTips
      }}
    </section>
    <section class="mt-20">
      {{logging-dashboard/logging-table
          model=logs
          alertState=alertState
      }}
    </section>
  </div>
</div>