<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'alertsPage.new.header'}}</h1></div>
</section>

<section class="clearfix">
{{alert/new-edit
    originalModels=models
    recipients=recipients
    editing=editing
    isService=false
}}
</section>